<!DOCTYPE html>
<html>
  <body>
    <p>
      <strong><%= comment.commenter %> :</strong>
      <%= comment.body %>
    </p>
    
    <p>
      <% if logged_in? %>
        <%= link_to 'Destroy Comment', [comment.article, comment], 
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  </body>
</html>