<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body class="all_edit">
      <div class= "header">
        <div class = "login">
          <%= link_to 'Back', articles_path %>
        </div>
      </div>
    <h2 class="title"> Edit Blog Post</h2>
    <%= render 'form' %>
  </body>
</html>
