.all_users {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #F8F8F8;
  color: black;
}

.header {
  height: 50px;
  text-align: right;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;
}

.back_button {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 13px;
  padding-bottom: 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

.form {
  margin: auto;
  width: 300px;
  padding: 50px;
}

h1 {
  text-align: center;
}

#error_explanation {
  margin: auto;
  width: 400px;
  padding: 20px;
}